In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('adult.csv')
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
age                48842 non-null int64
workclass          48842 non-null object
fnlwgt             48842 non-null int64
education          48842 non-null object
educational-num    48842 non-null int64
marital-status     48842 non-null object
occupation         48842 non-null object
relationship       48842 non-null object
race               48842 non-null object
gender             48842 non-null object
capital-gain       48842 non-null int64
capital-loss       48842 non-null int64
hours-per-week     48842 non-null int64
native-country     48842 non-null object
income             48842 non-null object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [7]:
# если присутствуют не все данные, то можно использовать удаление данных, код ниже, при условии небольших отсуствий. Если данные отсутсвуеют в значительном кол-ве , то можно использовать Imputer.
#data = data[ pd.isnull( data['наименование столбца '] ) == 0 ]

In [8]:
from sklearn.linear_model import LogisticRegression

In [9]:
#выбираем признаки, по которым будем предугадывать заработок
selectedColumns = data [ ['age', 'workclass', 'education',  'educational-num', 
                          'marital-status',  'relationship', 'race', 'occupation',
                          'gender', 'capital-gain', 'capital-loss', 'hours-per-week',
                          'native-country', 'income'] ]

In [10]:
# преобразуем столбец с наименованиями в матрицу, которая будет состоять из значений
X = pd.get_dummies( selectedColumns, columns = [ 'workclass', 'education', 'marital-status', 'occupation',
                                                'relationship','race',  'gender', 'native-country'])

# удаляем из матрицы Х интересующий нас столбец с доходами "income"
del X['income']
X.head()

,age,educational-num,capital-gain,capital-loss,hours-per-week,workclass_?,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,25,7,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
1,38,9,0,0,50,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
2,28,12,0,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
3,44,10,7688,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
4,18,10,0,0,30,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

### Проведем нормировку значений

In [1]:
from sklearn.preprocessing import StandardScaler

In [15]:
scaler=StandardScaler().fit(X)
X_scaled = scaler.transform(X)
X_scaled = pd.DataFrame(X_scaled, columns=X.columns)
X_scaled.head()

C:\Users\89517_000\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype uint8, int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\89517_000\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: Data with input dtype uint8, int64 were all converted to float64 by StandardScaler.

,age,educational-num,capital-gain,capital-loss,hours-per-week,workclass_?,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,-0.995129,-1.197259,-0.144804,-0.217127,-0.034087,-0.246558,-0.173795,-0.261940,-0.01431,0.663711,...,-0.037063,-0.061494,-0.02074,-0.048581,-0.036505,-0.024791,-0.023518,0.338083,-0.041999,-0.021705
1,-0.046942,-0.419335,-0.144804,-0.217127,0.772930,-0.246558,-0.173795,-0.261940,-0.01431,0.663711,...,-0.037063,-0.061494,-0.02074,-0.048581,-0.036505,-0.024791,-0.023518,0.338083,-0.041999,-0.021705
2,-0.776316,0.747550,-0.144804,-0.217127,-0.034087,-0.246558,-0.173795,3.817672,-0.01431,-1.506680,...,-0.037063,-0.061494,-0.02074,-0.048581,-0.036505,-0.024791,-0.023518,0.338083,-0.041999,-0.021705
3,0.390683,-0.030373,0.886874,-0.217127,-0.034087,-0.246558,-0.173795,-0.261940,-0.01431,0.663711,...,-0.037063,-0.061494,-0.02074,-0.048581,-0.036505,-0.024791,-0.023518,0.338083,-0.041999,-0.021705
4,-1.505691,-0.030373,-0.144804,-0.217127,-0.841104,4.055836,-0.173795,-0.261940,-0.01431,-1.506680,...,-0.037063,-0.061494,-0.02074,-0.048581,-0.036505,-0.024791,-0.023518,0.338083,-0.041999,-0.021705

### Переведем столбец с доходами с числовые значения

In [16]:

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder ()

In [17]:
le.fit (data ['income'])

LabelEncoder()

In [18]:
le.classes_

array(['<=50K', '>50K'], dtype=object)

In [19]:
# пример "расшировки" столбца 

le.transform(['<=50K', '>50K', '<=50K'])

array([0, 1, 0], dtype=int64)

In [20]:
# трансформируем столбец с доходами
y = pd.Series (data = le.transform (data['income']))
y.head()

0    0
1    0
2    1
3    1
4    0
dtype: int32

### Строим модель логистической регрессии

In [21]:
model = LogisticRegression()

In [29]:
model.fit(X_scaled,y)
y_pred = model.predict(X_scaled)

C:\Users\89517_000\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

### Используем местрику правильности предсказаний accuracy=(кол-во правильных предсказаний)/(кол-во target'ов)

In [27]:
from sklearn.metrics import accuracy_score

In [31]:
accuracy_score (y, y_pred)

0.8526063633757831